<html>
    <head>
        <title>Create</title>
    </head>
    <body>
        <h1>Create a new user</h1>
        <form method="get" action="/printsite/saveuser/">{% csrf_token %}
            Username: <input type="text" name="name">
            </br>
            Email: <input type="text" name="email">
            </br>
            Password: <input type="password" name="password">
            </br>
            <input type="submit" value="Submit"/>
        </form>
        <form method="post" action="/printsite/">{% csrf_token %}
            <button type="submit">Back</button>
        </form>
    </body>
</html>