<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Evolved Tech Solutions - Evolved Print</h1>
        <form action="/printsite/login/" method="post" >{% csrf_token %}
            Username: <input type="text" name="username">
            </br>
            Password: <input type="password" name="password">
            </br>
            <input type="submit" value="Enter"/>
        </form>
        <form method="get" action="/printsite/create/">{% csrf_token %}
            <button type="submit">Create New User</button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>