<html>
    <head>
        <title>Modify</title>
    </head>
    <body>
        <h1>Modify Print Job</h1>
        <form method="post" action="/printsite/edit/{{job_id}}/">{% csrf_token %}
            <ul>
                {{form.as_ul}}
            </ul>
            <input type="submit" value="Submit"/>
        </form>
        <form method="post" action="/printsite/show/">{% csrf_token %}
            <button type="submit">Back</button>
        </form>
    </body>
</html>