<html>
    <head>
        <title>New Job</title>
    </head>
    <body>
        <h1>Create New Print Job</h1>
        <form method="post" action="/printsite/save/" enctype="multipart/form-data">{% csrf_token %}
            <ul>
                {{form.as_ul}}
            </ul>
            <input type="submit" value="Submit"/>
        </form>
        <form method="post" action="/printsite/show/">{% csrf_token %}
            <button type="submit">Back</button>
        </form>
    </body>
</html>