<html>
    <head>
        <title>Show</title>
        <style>
            div.scroll {
                width:300px;
                height:300px;
                overflow:scroll;
            }   
        </style>
        <script type='text/javascript'>
            function show(Id) {
                document.getElementById(Id).style.display="inline";
            }
            function hide(Id) {
                document.getElementById(Id).style.display="none";
            }
        </script>
    </head>
    <body>
        <h1>Print Jobs for {{name}}</h1>
        <form method="post" action="/printsite/newjob/">{% csrf_token %}
            <button type="submit">Create new print jobs</button>
        </form>
        <form method="post" action="/printsite/logout/">{% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        
        <br>
        <table>
            <tr>
                <td>
        <div class="scroll">
        
        {% for item in job %}
            <div onmouseover="show('{{item.image}}')" onmouseout="hide('{{item.image}}')">
                <form method="post">{% csrf_token %}
                    <a href="/printsite/modify/{{item.iden}}/">{{item.name}}</a>
                </form>
                <p>Copies: {{item.copies}}</p>
                <p>Orientation: {{item.orientation}}</p>
                <p>Colour: {{item.colour}}</p>
                <p>Status: {{item.status}}</p>
                <p>Index: {{item.iden}}</p>
            </div>
            <br>
            <br>
        {% endfor %}
        </div>
                </td>
                <td>
        <div>
        {% for item in job %}
            {% if item.image %}
                <p><img src="/static/images/{{item.image}}" width="300" id="{{item.image}}" style="display:none;" /></p>
            {% endif %}
        {% endfor %}
        </div>
                </td>
            </tr>
        </table>
    </body>
</html>